---
import BaseLayout from "../layouts/BaseLayout.astro";
import Counter from "../components/react/counter.tsx";
---

<BaseLayout pageTitle={"Home Page"}>
  <h2>My awesome blog subtitle!!!!</h2>
  <Counter client:load />
</BaseLayout>
